{% extends "layout.html" %}
{% block body %}
<div class="entries">

  <div class="center inputcontainer">
  <form action="{{ url_for('main') }}" method=post class=add-entry>
  <label>Choose user:</label>
  <select name="user_name">
    {% for user in users %}
        <option value="{{user}}" {% if user == current_user %}SELECTED{% endif %}>{{user}}</option>
    {% endfor %}
  </select>
  <br>
  <input type=submit value="Choose" name=save class="button_save">
  </form>
  </div>
</div>

{% endblock %}